.btnContainer {
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  transition-duration: 0.2s;
  background-color: #4ECCA3;
  color: #393E46;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 0.9rem;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #AEf5DD;
  border: none;
  color: #393E46;
}

.btnBackToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.container {
  width: 70%;
  margin: auto;
}

.dice {
  display: inline-block;
  width: 45%;
  height: auto;
}

#pDatabase, #pStats {
  font-family: "Roboto Mono", monospace;
  font-size: 0.6rem;
}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 20px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 1.5rem;
  color: #4ECCA3;
}

p {
  font-size: 1rem;
  color: #4ECCA3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 70%;
}

@media only screen and (min-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  #pDatabase, #pStats {
    font-size: 0.75rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .dice {
    width: 40%;
  }
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  #pDatabase, #pStats {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 1.15rem;
  }
  .dice {
    width: 170px;
  }
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.7rem;
  }
  #pDatabase, #pStats {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 2rem;
  }
  #pDatabase, #pStats {
    font-size: 1.2rem;
  }
  .btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 5.5rem;
  }
  p {
    font-size: 2.1rem;
  }
  #pDatabase, #pStats {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.6rem;
  }
}