.btnDiv {
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  transition-duration: 0.2s;
  background-color: #4ECCA3;
  color: #393E46;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #AEf5DD;
  border: none;
  color: #393E46;
}

.btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.container {
  width: 70%;
  margin: auto;
}

.dice {
  display: inline-block;
  width: 20%;
  height: auto;
}

.resultsDatabase {
  font-family: "Roboto Mono", monospace;
  font-size: 0.85rem;
}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 1.25rem;
  color: #4ECCA3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 70%;
}