$color_1: #393E46;      // general background color and button text color
$color_2: #4ECCA3;      // general text color and button background color
$color_3: #232931;      // heading shadow color
$color_4: #AEf5DD;      // button background color hover
$font-family_1: 'Lobster', cursive;
$font-family_2: 'Indie Flower', cursive;

.button {
	background-color: $color_2;
	border: none;
	color: $color_1;
	padding: 8px 8px;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin-top: 40px;
	transition-duration: 0.4s;
	cursor: pointer;
	&:hover {
		background-color: $color_4;
		border: none;
		color: $color_1;
	}
}
.container {
	width: 70%;
	margin: auto;
}
.dice {
	display: inline-block;
	width: 20%;
	height: auto;
}
body {
	background-color: $color_1;
    text-align: center;
}
h1 {
	margin: 30px;
	font-family: $font-family_1;
	text-shadow: 5px 0 $color_3;
	font-size: 4rem;
	color: $color_2;
}
p {
	font-size: 1.25rem;
	color: $color_2;
	font-family: $font-family_2;
}
img {
	width: 80%;
}