$color_1: #393E46;      // general background color and button text color
$color_2: #4ECCA3;      // general text color and button background color
$color_3: #232931;      // heading shadow color
$color_4: #AEf5DD;      // button background color hover
$font-family_1: 'Lobster', cursive;
$font-family_2: 'Indie Flower', cursive;
$font-family_3: 'Roboto Mono', monospace;

.button-div {
    margin-bottom: 40px;
}
.button {
	display: inline-block;
	margin-top: 40px;
	transition-duration: 0.2s;
	background-color: $color_2;
	color: $color_1;
	border-radius: 4px;
	padding: 8px 8px;
	font-size: 1.2rem;
	font-family: $font-family_2;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	&:hover {
		background-color: $color_4;
		border: none;
		color: $color_1;
	}
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	background-color: $color_2;
	color: $color_1;
	border-radius: 4px;
	padding: 8px 8px;
	font-size: 1.2rem;
	font-family: $font-family_2;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	&:hover {
		background-color: $color_4;
		border: none;
		color: $color_1;
	}
  }
.container {
	width: 70%;
	margin: auto;
}
.dice {
	display: inline-block;
	width: 20%;
	height: auto;

}
.resultsDatabase{
	font-family: $font-family_3;
    font-size: 0.85rem;
}
body {
	background-color: $color_1;
    text-align: center;
}
h1 {
	margin: 30px;
	font-family: $font-family_1;
	text-shadow: 5px 0 $color_3;
	font-size: 4rem;
	color: $color_2;
}
p {
	font-size: 1.25rem;
	color: $color_2;
	font-family: $font-family_2;
}
img {
	width: 80%;
}